# AppRecovery files, generated during build process

services/agent/Agent.Contracts/doc/
services/common/Common.Contracts/doc/
services/core/Core.Contracts/doc/

# Generated resource files
services/agent/Agent.Contracts/Pairing/AgentPairingLocalization.*resources
services/agent/Agent.Contracts/ShadowCopy/ShadowCopyLocalization.*resources
services/agent/Agent.Contracts/Transfer/TransferLocalization.*resources


services/agent/Agent.NativeWrapper/resources/*.resources
services/ExchangeCheckHost/resources/*.resources

services/common/Common.Contracts/*/*.resources
services/common/Common.Implementation.Mono/*/*.resources
services/common/Common.Implementation/*/*.resources
services/common/Common.NativeWrapper/resources/*.resources
services/common/Reporting.Contracts/*/*.resources

services/core/Core.Contracts/*.DatabaseClient.dll
services/core/Core.Contracts/*/*.resources
services/core/Core.Contracts/Events/*/*.resources
services/core/Core.NativeWrapper/resources/*.resources
services/core/Core.NativeWrapper/resources/CoreNativeWrapperLocalization.h

# Header files copies to tevolib during build
tevolib/inc/vm/*.h
tevolib/inc/vm/*.inl
tevolib/inc/tcl/*.h
tevolib/inc/tcl/*.inl
tevolib/inc/tcl/*.htm
tevolib/inc/tcl/*.chm
tevolib/inc/AA*.h
tevolib/inc/AABitmap.hpp
tevolib/inc/TransmitDataFromDisk.h

common/include/TevoMsg.h

common/AaDiag/UserMessage/Messages*.h
common/AaDiag/UserMessage/Messages*.cpp
common/AaDiag/UserMessage/Messages*.cs
common/AaDiag/UserMessage/MessagesResources.resx

common/AAMsg/Tevo*

# files that are created by the build
common/Containers/Containers.Implementation/Resources/ContainersImplementationLocalization.*resources
common/WhiteLabeling/WhiteLabeling.Contracts/WhiteLabelStrings.resources


# DLLs copied to folders under the version control during build
WCFClientBase.dll
Microsoft.Http.dll
Microsoft.Http.Extensions.dll
Agent.Client.dll
Agent.Client.htm
Agent.doc.zip
Core.Client.dll
Core.Client.htm
Core.doc.zip
Common.Client.dll
Common.Client.htm
Common.doc.zip

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
## See https://github.com/github/gitignore

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

*.DotSettings

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
# we need Sql in Core.Web
!Sql/
!common/AAInfoBrowser/Controls/AAInfoBrowser.RecoveryPointsBrowserControl/ViewModel/VolumeSummary/Sql
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
*.orig

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
#-Backup*/
#we have not only one place where 'Backup' word used as business logic term
#please use more strict rule to skip real backups

UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
rrc5/Rrc.RrcUsage/resources/
rrc5/Rrc.VdsPackage/resources/
rrc5/SharedResources
/testing/VCenterAutodeployment/AppAssureAutodeployment.suo
services/core/Core.Implementation/BootCdBuilder/BootCdKit/WinPe/winpe_7_x86.wim
services/core/Core.Implementation/BootCdBuilder/BootCdKit/WinPe/winpe_8_x64.wim
mcmp/mcmp/Mcmp.Web/Deployment/
*.htm
*.zip
mcmp/mcmp/Mcmp.Contracts/doc/
/mcmp/mcmp/Mcmp.Contracts/*.dll
!services/core/Core.Contracts/Sql


# Agent.Contracts documentation
services/agent/Agent.Contracts/doc/
services/agent/Agent.Contracts/docWeb/
services/agent/Agent.Contracts/xml/

# Common.Contracts documentation
services/common/Common.Contracts/doc/
services/common/Common.Contracts/docWeb/
services/common/Common.Contracts/xml/

# Core.Contracts documentation
services/core/Core.Contracts/doc/
services/core/Core.Contracts/docWeb/
services/core/Core.Contracts/xml/

# Context-Sensitive Help from added during build time
services/core/Core.Web/Content/WebHelp/

/services/core/Core.Contracts/*.pdb
/setup/RDAService/Dell-RDA-Service/*
docs/AppRecoveryAPISamples/Dependencies/*
